.App {
  text-align: center;
}

.App-header,
body {
  background-color: white;
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: white;
  padding: 16px 0;
}

.face-animation {
  width: 100%;
  max-width: 300px;
}

.face-loading {
  width: 20px;
  max-width: 300px;
  transition: all 300ms ease-in;
  margin: 8px auto;
}

.input-holder {
  width: 300px;
  text-align: right;
  margin: 8px auto;
}

label {
  color: black;
  font-size: 14px;
  text-align: right;
}

input {
  height: 40px;
  width: 100%;
  max-width: 288px;

  margin-top: 4px;
  border-radius: 8px;
  border-width: 1px;
  padding-left: 8px;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: unset;
  background-color: #8070f2;
  color: white;
  max-width: 300px;
  margin: 16px auto;

  font-size: 16px;
  font-weight: 700;
}

button.outline {
  border: 1px solid #8070f2;
  background-color: white;
  color: #8070f2;
}

.image-input {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed gray;
}

::file-selector-button {
  display: none;
}

img {
  margin: 8px auto 4px;
  width: 300px;
  border-radius: 12px;
}

p {
  color: black;
  font-size: 14px;
  width: 300px;
  margin: 8px auto;
}
h5 {
  color: #8070f2;
}

.video {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

video {
  width: 100%;
}

.video-face {
  position: absolute;
  width: 120%;
  height: 120%;
  left: -10%;
  right: 0;
  top: -10%;
}

.toast-error > div {
  background-color: red;
}
.toast-success > div {
  background-color: green;
}

.result {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.verification {
  max-width: 400px;
  margin-top: auto;
}
